@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@model bookstore.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css/boostrap.min.css" />
    <base href="/" />
</head>

<body>
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>